body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0F1035;
}


#quiz, #result-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 3px solid #365486;
    background-color: none;
    border-radius: 8px;
    box-shadow: 10px rgba(45, 45, 45, 0.1);
}

.question {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #7FC7D9;
    text-align: center;
}

.options {
    display: flex;
    flex-direction: column;
}

.option {
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 3px solid #7FC7D9;
    box-shadow: 10px rgba(45, 45, 45, 0.1);
    text-align: center;
    color: #7FC7D9;
}

.option:hover {
    border: 3px solid #fff;
    background-color: #fff;
    color: #0F1035;
}

.selected {
    transition: 0.5s;
    background-color: #7FC7D9;
    color: #fff;
    border: 3px solid #7FC7D9;
}

.correct {
    background-color: #4CAF50;
    color: #fff;
}

.incorrect {
    background-color: #FF5733;
    color: #fff;
}

button {
    background-color: #365486;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    transition: 0.5s;
    background-color: #7FC7D9;
}

#result-container {
    display: none;
    max-width: 600px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result-item {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
}

.total-score {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

.take-again {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

.question-choices {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.choice {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.selected-choice {
    background-color: #4CAF50;
    color: #fff;
}

.correct-choice {
    background-color: #4CAF50;
    color: #fff;
}

.incorrect-choice {
    background-color: #FF5733;
    color: #fff;
}

button.take-again {
    background-color: #365486;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

button.take-again:hover {
    transition: 0.5s;
    background-color: #7FC7D9;
}
